/* ****** */
/* GLOBAL */
/* ****** */

body {
  margin: 0;
  background-color: rgb(150, 218, 218);

  /* justify-content: center;
  align-content: center;
  display: flex; */
}

#page {
  width: 90%;
  min-height: 100vh;

  margin-left: auto;
  margin-right: auto;

  background-color: rgb(56, 168, 168);
}

/* header {
  display: inline-block;
  margin-bottom: 200px;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

/* ************ */
/* REQUEST PART */
/* ************ */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;

  background-color: rgb(30, 156, 156);
}

#apply {
  padding: 15px;
  cursor: pointer;

  border-radius: 25px;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;

  font-size: large;
  font-weight: bold;
  color: white;
  background-color: rgb(30, 156, 156);
}

.result {
  color: #15362f;
  font-size: xx-large;
  font-weight:bolder;
}

samp {
  overflow: auto;
  max-height: 500px;
  font-size: large;
  font-weight: bold;
  color:aliceblue;
  background-color: #15362f;
}

p {
  color: white;
}

/* *** */
/* SVG */
/* *** */


.svg-container {
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  margin-bottom: 10%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}