header {
  display: flex;
  padding-top: 5%;
}

nav {
  /* AUTO for center the button */
  /* OR margin 0 for all width */
  margin-left: 5%;
  margin-right: 5%;

  padding: 12px;
  overflow: hidden;
  border-radius: 25px;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

#nav-toggle {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  z-index: 999;
}
#nav-toggle:checked ~ ul {
  width: 100vw;
}

ul {
  display: flex;

  height: 50px;
  width: 0;
  margin: 0;
  padding: 0 0 0 50px;
  transition: 0.5s width ease;
  background-image: url("https://i.imgur.com/3d0vJzn.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

li {
  margin-left: 10%;

  line-height: 50px;
  list-style-type: none;
}
li:first-child {
  margin-left: 20px;

}
li a {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}